/* 
CSS de l'entete 
*/

.connexion{
  width: auto;
  margin-right: 0;
  font-weight: bold;
}
div.entete{
  border-bottom: solid 1px;
  align-content: center;
  text-align: center;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}
a:visited, a{
  font-weight: normal;
}
div.connexion{
  padding-bottom: 10px;
  position: relative;
  float: right;
  width: auto;
  text-align: right;
}
.menu{
  display: flex;
  flex-direction: row;
}
.menu>div{
  text-align: center;
  flex: 1;
  display: block;
  max-height: 100%;
  max-width: 100%;
  background-blend-mode: lighten;
}
.menu>div>a>p, .menu>div>p{
  font-weight: 700;
}
.banniere1{
  padding-top: 10px;
  max-width: 100%;
  margin: auto;
}
.banniere1>a , .banniere1>a>img{
  max-width: 100%;
  max-height: 150px;
}
.contenu{
  width: 100%;
  height: 100%;
  min-height: 40px;
}
/* pour petis écrans */
@media screen and (max-width: 940px){
  .banniere1>a , .banniere1>a>img{
    max-width: 100%;
    max-height: 200px;
  }
}

/* 
CSS général 
*/

h1{
  margin-top: 10px;
  margin-bottom: 10px;
}
body{
  margin: 0;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#page{
  position: relative;
  margin: auto;
  min-height: 100vh;
  max-width: 940px;
  font-family: 'Ubuntu', sans-serif;
}

.corps{
  align-items: left;
  width: 100%;
}

form.identification{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

table *{
  padding: 3px;
  text-align: center;
}
table, td, th{
  border-collapse: collapse;
}
.demandes td:nth-child(1){
  width: 3%;
}
.demandes td:nth-child(2){
  width: 12%;
}
.demandes td:nth-child(3){
  width: 10%;
}
.demandes td:nth-child(4){
  width: 11%;
}
.demandes td:nth-child(6){
  width: 6%;
}
.demandes td:nth-child(5){
  text-align: left;
}

table.demandes{
  width: 100%;
}
table.synthese{
  width: auto;
}

legend{
  text-decoration: none;
  font-weight: bold;
}

label{
  font-weight: bold;
  line-height: 200%;
}



fieldset{
  border-collapse: collapse;
  border-left: solid 0px;
  border-right: solid 0px;
  padding-left: 30px;
  padding-right: 30px;
}

textarea{
  background: #e1e4fa66;
  border: inset 2px #444;
  color: #0c0e1fff;
  font-size: 1.5em;
  width: 100%;
}

input{
  margin-bottom: 10px;
}

.hidden{
  display: none;
}

/* Pour petits écrans */
@media screen and (max-width: 940px){

  @media screen and (max-width: 639px){
    h1{
      font-size: 1.7em;
    }
    .demandes\#, .demandesLogin, .demandesDate{
      display:none;
    }
  }

}

/* 
CSS du footer
 */

 footer{
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  width: 908px;
  max-width: calc( 100vw - 44px );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer div{
  width: auto;
}

/* bouton de changement de théme */
.onoffswitch {
  position: relative;
  min-width: 72px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 25px; padding: 0; line-height: 25px;
  border: 0px solid #999999; border-radius: 18px;
  background-color: #8EA1DE;
}
.onoffswitch-label:before {
  content: "";
  display: block; width: 18px; margin: 3.5px; height: 18px;
  background: #fffba6;
  position: absolute; top: 0; bottom: 0;
  right: 43px;
  border-radius: 18px;
  box-shadow: 0 6px 6px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #1D2942;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #1D2942;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px;
  background-color: #b7bdd1;
  box-shadow: 3px 6px 12px 0px rgba(0, 0, 0, 0.2);
}
