/* 
CSS de l'entete 
*/


  a:visited, a{
    color: #fff;
  }
  .menu>div{
    background-color: #0001;
    border-top: solid 1px white;
  }
  
  #page{
    background-color: #16151a99;
    color: #fff;
    box-shadow: 0px 0px 20px 10px #000;
  }
  body{
    background-color: #272f5b;
    background-image: url(../images/bkg4_dark.png);
  }
  table, td, th{
    border: solid 1px #fff9;
  }
  fieldset{
    background-color: #0001;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }
  