/* 
CSS de l'entete 
*/


a:visited, a{
  color: #000;
}
.menu>div{
  background-color: #fff1;
  border-top: solid 1px black;
}

#page{
  background-color: #e8e7ec3f;
  color: #000;
  box-shadow: 0px 0px 20px 10px #3d3d3d65;
}
body{
  background-color: #c5cae8;
  background-image: url(../images/bkg4.png);
}
table, td, th{
  border: solid 1px rgba(0, 0, 0, 0.6);
}
fieldset{
  background-color: #fff1;
  border-top: solid 1px rgb(0, 0, 0);
  border-bottom: solid 1px rgb(0, 0, 0);
}
